/*=====================================	#
#		 								#
========================================*/
$recommendation-icons-spacing: 3px;

.kk-teaser--recommendation-main {
	border-bottom: 1px solid $color-border-teasers;
	margin-bottom: $baseline * 5 - 1;

	.kk-teaser__image {
		&:before {
			padding-top: $image-prop-main;
		}

		width: 100%;
	}
	.kk-teaser__city {
		margin-bottom: $baseline * 2;
		text-transform: none;
	}
	.kk-teaser__intro {
		margin-bottom: $baseline * 3;

		> p {
			margin-bottom: $baseline * 2;
		}

		@include media-query(palm) {
			display: none;
		}
	}
	.kk-teaser__icons {
		margin-bottom: $baseline * 2;
		overflow: hidden;

		> li {
			height: 32px;
			margin-right: $recommendation-icons-spacing;
			margin-bottom: $recommendation-icons-spacing;
			float: left;

			@include media-query(palm) {
				width: 10%;
				height: auto;
				min-width: 32px;
				max-width: 42px;

				> img {
					width: 100%;
				}
			}
		}
	}
}

.kk-teaser--recommendation {
	padding-bottom: $baseline;
	border-bottom: 1px solid $color-border-teasers;
	margin-bottom: $baseline * 2 - 1;
	overflow: hidden;
	position: relative;

	.kk-teaser__image {
		&:before {
			padding-top: 60.8511%;
		}

		width: 33.3333%;
		margin-bottom: $baseline * 2;
		float: left;
	}
	> .kk-teaser__body {
		width: 66.6666%;
		padding-left: $base-spacing-unit;
		float: left;

		> h2 {
			min-height: 0;
			margin-bottom: 0;
		}
		> h4 {
			text-transform: none;

			@include media-query(palm) {
				margin-bottom: $baseline * 2;
			}
		}
	}
	.kk-teaser__icons {
		position: absolute;
		bottom: ($baseline * 2) + 6;

		> li {
			height: 32px;
			margin-right: $recommendation-icons-spacing;
			margin-bottom: $recommendation-icons-spacing;
			float: left;

			@include media-query(palm) {
				width: 10%;
				height: auto;
				min-width: 24px;
				max-width: 32px;

				> img {
					width: 100%;
				}
			}
		}

		@include media-query(palm) {
			width: 100%;
			overflow: hidden;
			position: static;
			bottom: auto;
		}
	}
}


/*=====================================	#
#		 	SINGLE						#
========================================*/
.kk-teaser--recommendation-single {
	> .kk-teaser__top {
		margin-bottom: $baseline * 5;
		overflow: hidden;
		position: relative;

		@include media-query(palm) {
			margin-bottom: $baseline * 2;
			position: static;
		}
	}

		.kk-teaser__image {
			@extend .one-half;

			&:before {
				padding-top: 72.9339%;
			}

			margin-bottom: 0;
			float: left;

			@include media-query(palm) {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: $baseline;
				float: none;
			}
		}

		.kk-teaser__body {
			@extend .one-half;

			padding-top: $baseline * 2;
			padding-left: $base-spacing-unit;
			margin-bottom: 150px;
			float: left;

			> h1 {
				margin-bottom: $baseline * 3;

				@include media-query(palm) {
					margin-bottom: $baseline;
				}
			}

			@include media-query(palm) {
				width: 100%;
				padding-top: 0;
				padding-left: 0;
				margin-bottom: 0;
				float: none;
			}
		}
			.kk-teaser__intro {
				> p {
					margin-bottom: $baseline * 2;
				}

				@include media-query(palm) {
					margin-bottom: $baseline * 2;
				}
			}
			.kk-teaser__icons {
				padding-left: $base-spacing-unit;
				overflow: hidden;
				position: absolute;
				left: 50%; bottom: 0;

				> li {
					height: 32px;
					margin-right: $recommendation-icons-spacing;
					margin-bottom: $recommendation-icons-spacing;
					float: left;
				}

				@include media-query(palm) {
					padding-left: 0;
					display: block;
					position: static;

					li {
						width: 14%;
						height: auto;
						max-width: 40px;
					}

						img {
							width: 100%;
							height: auto;
						}
				}
			}

	> .kk-teaser__address {
		@extend .one-half;

		float: left;
		clear: both;

		h3,
		p {
			margin-bottom: $baseline * 3;

			@include media-query(palm) {
				margin-bottom: $baseline * 2;
			}
		}
		p:last-child {
			margin-bottom: $baseline * 4;
		}
		h4 {
			@include media-query(palm) {
				margin-left: -117px;
				position: absolute;
				bottom: 0; left: 50%;
			}
		}
		h4 > a {
			height: 41px;
			padding-top: 11px;
			padding-left: 50px;
			background-image: url('../images/recommend/prev.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			display: block;
		}

		@include media-query(palm) {
			width: 100%;
			padding-left: 0;
			float: none;
			clear: none;
		}
	}
	.kk-teaser__map {
		@extend .one-half;

		padding-left: $base-spacing-unit;
		float: left;

		> h2 {
			padding-bottom: $baseline;
		}
		> img {
			margin-bottom: $baseline;
		}
		label {
			display: none;
		}
		input {
			width: 100%;
		}
		.kk-submit {
			margin-top: 0;
		}

		@include media-query(palm) {
			padding-left: 0;
			width: 100%;
			float: none;
		}

		> .kk-teaser__map__gmap {
			width: 100%;
			height: 460px;
			margin-bottom: $baseline * 2;
		}
	}

	@include media-query(palm) {
		margin-left: 0;
	}
}


.kk-teaser-nav {
	height: 41px;
	margin-bottom: $baseline;
	position: relative;

	> .kk-teaser-nav__prev,
	> .kk-teaser-nav__next {
		width: 41px;
		height: 41px;
		display: block;
		position: absolute;
		z-index: 100;
	}
	> .kk-teaser-nav__prev {
		background-image: url('../images/recommend/prev.png');
		left: 0;
	}
	> .kk-teaser-nav__next {
		background-image: url('../images/recommend/next.png');
		right: 0;
	}

	.kk-teaser-nav__list {
		width: 100%;
		padding-top: 10px;
		padding-right: 50px;
		padding-left: 50px;
		@include font-size($font-size-medium);
		font-family: $font-family-headline;
		text-align: center;
		position: absolute;

		> li {
			&:before {
				content: " | ";
				position: relative;
				top: -2px;
			}

			display: inline;

			> a:link, > a:visited {
				background-color: $color-background-page;
				color: $color-font-main;
				text-decoration: none;
			}
			> a:hover, > a:focus, > a:active {
				background-color: $color-font-main;
				color: $color-background-page;
				text-decoration: none;
			}

			> a {
				padding-right: $base-spacing-unit / 2;
				padding-left: $base-spacing-unit / 2;
			}

			&.active {
				a:link, a:visited {
					background-color: $color-font-main;
					color: $color-background-page;
					text-decoration: none;
				}
				a:hover, a:focus, a:active {
					background-color: $color-font-main;
					color: $color-background-page;
					text-decoration: none;
				}
			}

			&:first-child {
				&:before {
					content: normal;
				}
			}
		}
	}
}