/*=====================================	#
#		 (MAIN) RECIPE					#
========================================*/
.kk-recipe {
	margin-bottom: $baseline;

	.kk-teaser__rating {
		margin-right: 0;
		float: right;
		display: none;

		&.active {
			display: block;
		}

		html.no-js & {
			display: block;
		}


		> .kk-teaser__rating__stars {
			margin-right: 0;
			float: right;

			> li {
				width: 17px;
				height: 17px;
				margin-right: 0;
				margin-left: 5px;
				background-image: url('../images/icn_star.png');
				float: left;
			}
			> li:first-child {
				margin-left: 0;
			}
			> li.inactive,
			> li.unhover {
				@include opacity(0.5);
			}
			> li.hover {
				@include opacity(1);
			}
		}
	}

	a {
		display: block;
	}

	@include media-query(palm) {
		border-bottom: 1px solid $color-border-teasers;
		margin-bottom: $baseline - 1px;
	}
}
	.kk-recipe__image {
		@extend .kk-teaser__image;

		&:before {
			padding-top: $image-prop-recipes;
		}
		width: 100%;	
	}
	.kk-recipe__body {
		overflow: hidden;

		> span {
			margin-bottom: $baseline * 2;
			@include font-size($h2-size);
			display: block;
			float: left;

			@include media-query(palm) {
				margin-bottom: $baseline;
				@include font-size($font-size-medium);
			}
		}
	}



/*=====================================	#
#		 RECIPE LIST					#
========================================*/
.kk-recipe--list {
	@extend .grid;
	overflow: hidden;

	.kk-recipe {
		@extend .grid__item;
		@extend .one-half;
		float: left;

		.kk-recipe__image {
			&:before {
				padding-top: $image-prop-recipes;
			}

			margin-bottom: $baseline;
		}
		.kk-recipe__body {
			> span {
				@include font-size($font-size-normal);
			}
		}
			.kk-teaser__rating {
				display: none;

				&.active {
					display: block;
				}

				html.no-js & {
					display: block;
				}
			}

		&:nth-child(2n+3) {
			clear: both;
		}


		@include media-query(palm) {
			width: 100%;
			clear: both;

			&:last-child {
				margin-bottom: $baseline * 4;
			}

			.kk-recipe__image {
				width: 33.3333%;
				float: left;
			}
			.kk-recipe__body {
				width: 66.6666%;
				padding-left: $base-spacing-unit;
				float: left;

				> span {
					@include font-size($font-size-small);
				}
			}
				.kk-teaser__rating {
					margin-bottom: $baseline * 2;
					float: none;
					clear: both;
				}
					.kk-teaser__rating__stars {
						float: none;
					}
		}
	}
}



/*=====================================	#
#		 SINGLE RECIPE					#
========================================*/
.kk-teaser--article > .kk-recipe {
	.kk-recipe__image {
		@extend .kk-teaser__image;

		margin-bottom: 5px;

		&:before {
			padding-top: $image-prop-recipes;
		}
		width: 100%;	
	}
	.kk-recipe__body {
		> span {
			width: 50%;
		}

		.kk-recipe__sponsors {
			overflow: hidden;

			p {
				margin-bottom: $baseline * 2;
			}
			img {
				margin-right: $base-spacing-unit;
				float: left;
			}
		}
		.kk-teaser__rating {
			width: 50%;

			> .kk-teaser__rating__stars {
				float: right;
			}

			@include media-query(palm) {
				margin-top: 0;
			}
		}
	}
	.kk-recipe__description {
		margin-bottom: $baseline * 2;
		text-align: justify;
		clear: both;
	}
	.kk-recipe__ingredients {
		margin-bottom: $baseline * 4;

		> .headline {
			margin-bottom: $baseline * 2;
			display: inline-block;
		}
	}
		.kk-recipe__persons {
			padding-right: $base-spacing-unit * 4;
			@include font-size($h3-size);
			font-family: $font-family-headline;
			float: right;

			> label {
				display: inline;
				font-weight: bold;
			}

			@include media-query(palm) {
				margin-bottom: $baseline * 2;
				padding-right: 0;
			}
		}
			.kk-recipe__input {
				padding-top: 2px;
				padding-right: 2px;
				padding-left: 2px;
				padding-bottom: 2px;
				margin-left: $base-spacing-unit / 2;
				background: $color-recipes;
				display: inline-block;

				.kk-recipe__input__text {
					width: 50px;
					border: 1px solid #fff;
					border-radius: 5px;
					background: #fff;
					text-align: center;
				}
				.kk-recipe__input__submit {
					width: 32px;
					height: 32px;
					border: none;
					background-image: url('../images/recalculate.png');
					background-color: transparent;
					display: none;
				}
			}
		.kk-recipe__ingredients-list {
			font-family: $font-family-headline;
			@include font-size($font-size-medium);
			overflow: hidden;
			clear: both;

			> li {
				padding-top: 4px;
				border-bottom: 1px solid $color-border-teasers;
				line-height: 19px;
				overflow: hidden;
			}

			> li > * {
				@extend .three-quarters;

				margin: 0;
				line-height: 23px;
				float: left;

				@include media-query(palm) {
					width: 60%;
				}
			}
			.kk-recipe__ingredients-list__amount {
				@extend .one-quarter;

				min-height: 23px;
				padding-right: $base-spacing-unit * 2;
				margin: 0;
				text-align: right;
				font-weight: bold;
				line-height: 23px;
				display: inline-block;
				float: left;

				@include media-query(palm) {
					width: 40%;
				}
			}
		}
	.kk-recipe__text {
		> .headline {
			margin-bottom: 0;
		}
		> p {
			margin-bottom: $baseline * 2;
			text-align: justify;
			overflow: hidden;
		}
		.kk-recipe__times {
			margin-bottom: $baseline * 2;
			font-size: $font-size-small;
			color: $color-border-input;
		}
		img {
			width: 33.33%;
			height: auto;
			margin-right: $base-spacing-unit;
			margin-bottom: $base-spacing-unit;
			float: left;
		}
	}

	.kk-teaser__gallery {
		margin-bottom: $baseline * 2;
	}

	> .kk-teaser__rating {
		margin-top: $baseline * 4;
		margin-bottom: $baseline * 2;

		> .kk-teaser__rating__stars {
			margin-right: 0;
			float: left;

			> li {
				width: 17px;
				height: 17px;
				margin-right: 5px;
				margin-left: 0;
				background-image: url('../images/icn_star.png');
				float: left;
			}
			> li:first-child {
				margin-left: 0;
			}
			> li.inactive,
			> li.unhover {
				@include opacity(0.5);
			}
			> li.hover {
				@include opacity(1);
			}
		}
	}

	.kk-teaser__social {
		margin-bottom: $baseline * 4;
		clear: both;

		a {
			display: inline-block;
		}

		h5 {
			margin-bottom: $baseline;
			@include font-size($h3-size);
		}
	}
		.kk-social-icon {
			margin-left: 0;
			margin-right: $base-spacing-unit;
		}

	@include media-query(palm) {
		border-bottom: none;
		margin-bottom: 0;
	}
}