#suche {
	label {
		border-bottom: 1px solid $color-border-teasers;
		margin-bottom: $baseline * 2 - 1px;
		@include font-size($h2-size);
		text-transform: uppercase;
		display: block;
	}
	input.text {
		width: 280px;
		padding-top: 8px;
		padding-right: 14px;
		padding-bottom: 7px;
		padding-left: 14px;
		margin-right: $base-spacing-unit;
		margin-bottom: $baseline * 1.5;
		border: none;
		background-color: $color-background-input-search;
		color: $color-font-input-search;
		font-family: $font-family-headline;
	}
	input.submit {
		width: 32px;
		height: 32px;
		padding: 0;
		border: none;
		outline: 0;
		margin: 0;
		background-color: transparent;
		background-image: url('../images/search-icon.png');
		background-position: 0 32px;
		text-indent: 3000px;
		position: relative;
		top: -1px;
	}
	p.header {
		margin-bottom: $baseline * 3;
	}
}

#suche .kk-teaser-list {
	li {
		padding-bottom: $baseline * 2 - 2px;
		border-bottom: 2px solid $color-border-teasers;
		margin-bottom: $baseline * 3;
	}
		.kk-teaser__date {
			margin-bottom: $baseline;
		}
		.kk-tag {
			&:after {
				position: absolute;
				left: -9px;
			}
		}
}