/*=====================================	#
#		 TEASER GENERAL					#
========================================*/
.kk-teaser {
	&:after {
		content: "";
		display: block;
		clear: both;
	}

	display: block;

	> span,
	time {
		font-family: $font-family-headline;
		@include font-size($font-size-small);
		display: block;
	}
}
	.kk-teaser__head {
		> span {
			font-family: $font-family-headline;
			@include font-size($font-size-small);
		}
	}
	.kk-teaser__image {
		&:before {
			content: "";
			display: block;
		}

		position: relative;
		overflow: hidden;

		> * {
			width: auto;
			height: auto;
			max-width: none;
			max-height: none;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
		> a {
			display: block;
		}
		img {
			width: 100%;
			height: auto;
			max-width: none;
			max-height: none;

			@include media-query(palm) {
				width: auto;
				height: 100%;
				min-width: 100%;
			}
		}
		img.rev {
			width: auto;
			height: 100%;
		}
	}
	.kk-teaser__body {
		> span {
			display: block;
		}

		.magazin & {
			ul, ol {
				margin-left: $base-spacing-unit;
				list-style-type: disc;
				list-style-position: outside;
			}
		}
	}
		.kk-teaser__intro {
			text-align: justify;
			line-height: 1.5;

			> p:last-of-type {
				display: inline;
			}
		}
		.kk-teaser__more {
			> a {
				font-family: $font-family-headline;
				font-weight: bold;
			}
		}
	.kk-teaser__gallery {
		margin-top: $baseline * 3;
		clear: both;

		h4 {
			margin-bottom: $baseline;
			font-family: $font-family-headline;
			@include font-size($h3-size);
			font-weight: bold;
			text-transform: none;
		}
		> ul {
			@extend .grid;

			> li {
				@extend .grid__item;
				@extend .one-sixth;

				@include media-query(palm) {
					width: 33.3333%;
				}
			}
		}
	}

// COMMENTS
	.kk-teaser__comments {
		margin-bottom: $baseline * 5;
		clear: both;

		> h4 {
			margin-bottom: $baseline * 2;
			font-family: $font-family-headline;
			@include font-size($h3-size);
			font-weight: bold;
			text-transform: none;
		}

		> .kk-teaser__comments__comment {
			padding-top: $baseline;
			border-top: 1px solid $color-border-teasers;
			margin-bottom: $baseline * 3 - 1;

			> h4 {
				margin-right: 5px;
				margin-bottom: $baseline * 2;
				font-family: $font-family-headline;
				@include font-size($h4-size);
				font-weight: bold;
				text-transform: none;
				display: inline-block;
			}
			> span {
				@include font-size($font-size-small);
			}
			> p {
				clear: both;
			}
		}
	}
	.kk-teaser__commentbox {
		margin-bottom: $baseline * 4;
		font-family: $font-family-headline;

		> h4 {
			margin-bottom: $baseline * 2;
			font-family: $font-family-headline;
			@include font-size($h3-size);
			font-weight: bold;
			text-transform: none;
		}
	}
// RATINGS
	.kk-teaser__rating {
		width: 130px;
		float: left;

		> h5 {
			margin-bottom: $baseline;
			@include font-size($h3-size);
		}
		> .kk-teaser__rating__stars {
			margin-right: $baseline * 2;
			overflow: hidden;
			float: left;

			> li {
				width: 17px;
				height: 17px;
				margin-right: 5px;
				background-image: url('../images/icn_star.png');
				float: left;
			}
			> li.inactive,
			> li.unhover {
				@include opacity(0.5);
			}
			> li.hover {
				@include opacity(1);
			}
		}
		> .kk-teaser__rating__text {
			&:after {
				content: "\00a0";
			}

			width: 200%;
			font-family: $font-family-headline;
			@include font-size($font-size-small);
			font-weight: bold;
			display: block;
			clear: both;
		}
	}
	.kk-teaser--article .kk-teaser__rating__stars {
		cursor: pointer;
	}


/*=====================================	#
#		 TEASER ARTICLE					#
========================================*/
.kk-teaser--article {
	.kk-teaser__image {
		margin-bottom: $baseline;

		&:before {
			padding-top: $image-prop-main;
		}

		width: 100%;
	}
	time {
		margin-bottom: $baseline;
	}
	.kk-teaser__headline {
		margin-bottom: $baseline * 2;
	}
	.kk-teaser__body {
		margin-bottom: $baseline * 4;
		text-align: justify;
		line-height: 1.5;

		p {
			margin-bottom: $baseline * 2;

			img {
				width: 33.3333%;
				height: auto;
				margin-right: $base-spacing-unit;
				margin-bottom: $base-spacing-unit;
				float: left;
				clear: both;
			}
			img.right {
				margin-right: 0;
				margin-left: $base-spacing-unit;
				float: right;
			}
			img.fullwidth {
				width: 100%;
				margin-right: 0;
				float: none;
			}
		}

		.ce_hyperlink,
		.ce_image {
			&.left {
				width: 33.3333%;
				height: auto;
				margin-right: $base-spacing-unit;
				margin-bottom: $base-spacing-unit;
				float: left;
				clear: both;
			}

			&.right {
				width: 33.3333%;
				height: auto;
				margin-left: $base-spacing-unit;
				margin-bottom: $base-spacing-unit;
				float: right;
				clear: both;
			}
		}

		figure {
			width: 100%;
			height: auto;
			margin-bottom: $base-spacing-unit;
			color: lighten($color-font-main, 50%);
			@include font-size($font-size-small);
			float: none;
			clear: both;

			&.right {
				width: 33.3333%;
				margin-left: $base-spacing-unit;
				float: right;
			}

			&.left {
				width: 33.3333%;
				margin-right: $base-spacing-unit;
				float: left;
			}

			> img {
				width: 100%;
				height: auto;
			}
		}

		> .ce_text:first-child {
			margin-top: $base-spacing-unit;
		}
	}
	.kk-teaser__author {
		margin-bottom: $baseline * 8;
		color: lighten($color-font-main, 50%);
		clear: both;
	}
	.kk-teaser__rating {
		width: 100%;
		margin-bottom: $baseline * 2;
		position: relative;

		> .kk-teaser__rating__text {
			width: auto;
		}
		> .kk-teaser__rating__counter {
			@include font-size($font-size-normal);
			position: absolute;
			top: 29px; left: 120px;
		}
	}
}



/*=====================================	#
#		 TEASER MAIN					#
========================================*/
.kk-teaser--main {
	margin-bottom: $baseline * 4;

	.kk-teaser__image {
		&:before {
			padding-top: $image-prop-main;
		}

		width: 100%;
		margin-bottom: $baseline - 2px;

		@include media-query(palm) {
			margin-bottom: 0;
		}
	}
	.kk-teaser__body {
		> span {
			margin-bottom: $baseline - 2px;
			@include font-size($font-size-small);

			@include media-query(palm) {
				margin-bottom: 0;
			}
		}
		> h1 {
			margin-bottom: $baseline - 4px;
		}
	}
		.kk-teaser__intro {
			@include media-query(palm) {
				display: none;
			}
		}

	@include media-query(palm) {
		padding-bottom: $baseline;
		border-bottom: 1px solid $color-border-teasers;
		margin-bottom: $baseline;
	}
}



/*=====================================	#
#		 TEASER BLOG					#
========================================*/
.kk-teaser--blog {
	padding-bottom: 0;
	border-bottom: 0;
	margin-bottom: $baseline * 3;
	overflow: hidden;

	.kk-teaser__head {
		width: 66.6666%;
		padding-left: $base-spacing-unit;
		margin-bottom: $baseline - 2px;
		float: right;

		> span {
			margin-bottom: $baseline - 4px;
		}
	}

	.kk-teaser__image {
		&:before {
			padding-top: 100%;
		}

		width: 33.3333%;
		float: left;
	}

	.kk-teaser__body {
		width: 66.6666%;
		padding-left: $base-spacing-unit;
		float: right;
	}
		.kk-teaser__intro {
			@include media-query(palm) {
				display: none;
			}
		}

	@include media-query(palm) {
		padding-bottom: $baseline;
		border-bottom: 1px solid $color-border-teasers;
		margin-bottom: $baseline;
		
		&:last-child {
			margin-bottom: $baseline * 4;
		}
	}
}

#blogdetail {
	.kk-teaser__image {
		display: none;
	}
}



/*=====================================	#
#		 TEASER HOME BOXES				#
========================================*/
.kk-teaser--mobile-magazine {
	margin-bottom: $baseline * 4;

	.kk-teaser__image {
		margin-bottom: $baseline;

		@include media-query(palm) {
			width: 33.3333%;
			margin-right: $base-spacing-unit;
			float: left;
		}
	}
	.kk-teaser__body {
		> span {
			@include font-size($font-size-small);
		}
	}

	@include media-query(palm) {
		border-bottom: 1px solid $color-border-teasers;
		margin-bottom: $baseline - 2px;
	}
}

.two-quarters .kk-teaser--mobile-magazine {
	.kk-teaser__image {
		&:before {
			padding-top: $image-prop-main;

			@include media-query(palm) {
				padding-top: 100%;
			}
		}
	}
}

.one-quarter .kk-teaser--mobile-magazine {
	.kk-teaser__image {
		&:before {
			padding-top: 100%;
		}
	}
}



/*=====================================	#
#		 TEASER LIST					#
========================================*/
.three-quarters .kk-teaser-list {
	.kk-teaser {
		padding-bottom: $baseline;
		border-bottom: 1px solid $color-border-teasers;
		margin-bottom: $baseline - 2px;
	}
		.kk-teaser__date {
			@include font-size($font-size-small);
		}

	@include media-query(palm) {
		margin-bottom: $baseline * 4;
	}
}
.one-quarter .kk-teaser-list {
	margin-bottom: $baseline * 5;

	.kk-teaser {
		padding-bottom: $baseline - 1px;
		border-bottom: 1px solid $color-border-teasers;
		margin-bottom: $baseline * 1;
		@include font-size($font-size-small);

		h3 {
			@include font-size($font-size-small);
		}
	}
}