/*=====================================	#
#		 BASICS							#
========================================*/
$base-font-size: 15px;
$base-line-height: 10px;
$base-font-family: "Droid Serif", serif;
$base-spacing-unit: 18px;



/*=====================================	#
#		 HEADLINES						#
========================================*/
$h1-size: 30px;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: $base-font-size;
$h5-size: $base-font-size;



/*=====================================	#
#		 OBJECTS						#
========================================*/
$brand-round: 0;
$arrow-size: 14px;