@media print {

    // display none
    .kk-search,
    .kk-mainmenu,
    .mod_rezepte_suche,
    .kk-wrapper--footer,
    .kk-teaser__social,
    .kk-teaser__comments,
    .kk-teaser__commentbox,
    .kk-teaser__rating,
    .kk-list {
        display: none;
    }





    // fonts
    body
    .kk-recipe__body,
    .kk-teaser--article > .kk-recipe .kk-recipe__text .kk-recipe__times {
        @include font-size($font-size-print);
    }
    .kk-teaser--article > .kk-recipe .kk-recipe__text .kk-recipe__times {
        line-height: 1;
    }

    h1, .alpha {
        @include font-size($h3-size);
    }
    h2, .beta,
    h3, .gamma {
        @include font-size($h4-size);
    }

    .kk-teaser--article > .kk-recipe .kk-recipe__ingredients-list,
    .kk-teaser--article > .kk-recipe .kk-recipe__body > span,
    .kk-list .kk-list__headline, .kk-list .kk-list__list {
        @include font-size($base-font-size);
    }





    // background & colors
    body,
    .kk-wrapper--header {
        background-color: #fff;
    }





    // layout
    .kk-teaser--article > .kk-recipe .kk-recipe__persons {
        @include font-size($base-font-size);
    }
    .kk-teaser--article > .kk-recipe .kk-recipe__input {
        background-color: transparent;
    }
    .kk-teaser--article > .kk-recipe .kk-recipe__ingredients > .headline {
        margin-bottom: $baseline;
    }
    .kk-teaser--article > .kk-recipe .kk-recipe__input .kk-recipe__input__submit {
        display: none;
    }
    .kk-teaser--article>.kk-recipe .kk-recipe__input .kk-recipe__input__text {
        border: none;
        background-color: transparent;
    }

}