/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.flex-direction-nav {
	margin: 0 0 10px;
}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { 
	position: relative; zoom: 1; 

	@include media-query(palm) {
		margin-bottom: $baseline * 2;
	}
}
.flex-viewport { margin: 0 0 9px; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
	@include media-query(palm) {
		display: none;
	}
}
.flex-direction-nav a  { 
	margin-top: -50px;
	text-decoration:none; display: block; width: 42px; height: 42px; position: absolute; top: 50%; z-index: 10; overflow: hidden; cursor: pointer; 
}
.flex-direction-nav .flex-prev { 
	background-image: url('../images/slider-prev.png');
	left: 28px; 
}
.flex-direction-nav .flex-next { 
	background-image: url('../images/slider-next.png');
	right: 10px;
}
.flexslider:hover .flex-prev { }
.flexslider:hover .flex-next { }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { }
.flex-direction-nav .flex-disabled {  }

/* Control Nav */
.flex-control-nav {
	width: 100%;
	margin-bottom: 0;
	text-align: center;
	position: relative;
	z-index: $z-flexslider;

	@include media-query(palm) {
		border-bottom: 1px solid $color-border-teasers;
		margin-bottom: $baseline;
	}
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: transparent; cursor: pointer; text-indent: -9999px; border: 1px solid #575759; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.flex-control-paging li a:hover { background: #3a3a3a; }
.flex-control-paging li a.flex-active { background: #3a3a3a; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
