.lt-ie9 {
	/* 
		IE < 9 not support calc(200% - 18px)
		content/_magazine.scss
	*/
	.one-quarter .kk-magazine--image {
		> .kk-magazine__image {
			width: 200%;

			&:before {
				padding-top: 50%;
			}
		}
	}


	.kk-badge--topic {
		&:before {
			content: normal;
		}
	}

	.kk-badge--blog {
		&:before {
			content: normal;
		}
	}

	.kk-badge--recipe {
		&:before {
			content: normal;
		}
	}

	.kk-badge--recommend {
		&:before {
			content: normal;
		}
	}

	.kk-badge--recipe-best {
		&:before {
			content: normal;
		}
	}
}