.ce_accordion {
	margin-bottom: $baseline * 4;
}
	.ui-accordion-header {
		border-bottom: 2px solid $color-font-main;
		outline: 0;
		margin-bottom: $baseline * 2 - 2;
		font-weight: bold;
		@include font-size($h2-size);
		font-family: $font-family-headline;
		cursor: pointer;
	}
	.ui-accordion-content {
		display: block;

		> div {
			padding-bottom: $baseline * 2 - 2;
			border-bottom: 2px solid $color-font-main;
		}
	}