/*
    BADGES  -  colored circles
*/
.kk-badge {
    display: inline-block;
    position: relative;

    & img {
        display: block;
    }

    &:after {
        width: 100px;
        height: 100px;
        padding-top: 42px;
        @include border-radius(50%);
        @include font-size($font-size-normal);
        text-align: center;
        position: absolute;
        bottom: 4.25%; left: 9px;
        z-index: 5;

        @include media-query(palm) {
            width: 100%;
            height: auto;
            padding: 3px;
            @include border-radius(0);
            text-align: left;
            bottom: 0; left: 0;
        }
    }
}


.kk-badge--topic {
    &:after {
        background-color: rgba($color-magazine, 0.9);
        content: "THEMA";  
    }
}
.kk-badge--blog {
    &:after {
        background-color: rgba($color-magazine, 0.9);
        content: "BLOG";  
    }
}

.kk-badge--recipe {
    &:after {
        background-color: rgba($color-recipes, 0.9);
        content: "REZEPT";
    }
}

.kk-badge--recommend {
    &:after {
        background-color: rgba($color-recommend, 0.9);
        content: "TIPP";
    }
}


.kk-badge--recipe-best {
    &:after {
        padding-top: 20px;
        padding-left: 20px;
        text-align: left;
        white-space: pre;
        background-color: rgba($color-recipes, 0.9);
        content: "REZEPT \A DES\A TAGES"; 

        @include media-query(palm) {
            padding-top: 5px;
            padding-left: 5px;
            content: "REZEPT DES TAGES";
        }
    }
}



/*
    TAGS  -  colored text-blocks
*/
.kk-tag {
    display: inline-block !important;
    position: relative;

    /*&:before {
        @include font-size($font-size-normal);
        font-family: $font-family-text;
        content: " | ";
        position: absolute;
        top: 0; right: 84px;
    }*/
    &:after {
        @include font-size($font-size-small);
        font-family: $font-family-text;
        padding-top: 1px;
        padding-right: $half-spacing-unit / 2;
        padding-left: $half-spacing-unit / 2;
        margin-left: $half-spacing-unit;;
    }
}

.kk-tag--topic {
    &:after {
        background-color: $color-magazine;
        content: "THEMA";
    }
}
.kk-tag--blog {
    &:after {
        background-color: $color-magazine;
        content: "BLOG";
    }
}
.kk-tag--recipe {
    &:after {
        background-color: $color-recipes;
        content: "REZEPT";
    }
}
.kk-tag--recommend {
    &:before {
        right: 122px;
    }
    &:after {
        background-color: $color-recommend;
        content: "EMPFEHLUNG";
    }
}