html {
	overflow: visible;

	@include media-query(palm) {
		width: 100%;
		overflow-x: hidden;

		
		&.mobile-menu-open {
			height: 100%;
			overflow: hidden;
			overflow-y: scroll;
		}
	}
}

body {
	background-color: $color-background-page;
	color: $color-font-main;
	font-family: $font-family-text;
	@include font-size($font-size-normal);
	text-rendering: optimizeLegibility;


	@include media-query(palm) {
		width: 100%;
		overflow-x: hidden;

		html.mobile-menu-open > & {
			height: 100%;
			overflow: hidden;
		}
	}
}


/*

	WRAPPERS

*/
.kk-wrapper {
	padding-right: $base-spacing-unit;
	padding-left: $base-spacing-unit;

	@include media-query(palm) {
		padding-right: $baseline;
		padding-left: $baseline;
	}
}
.kk-wrapper__inner {
	max-width: $width-max-page;
    margin-left: auto;
    margin-right: auto;
}

.kk-wrapper--header {
    background-color: $color-background-header;
    padding-top: ($baseline * 4.5) + 55px; // Page Banner
	margin-bottom: $baseline * 1.5;

	@include media-query(palm) {
		padding-top: $baseline;
		padding-bottom: 0;
		margin-top: 103px;
		margin-bottom: $baseline;
		position: relative;
	}
}

.kk-wrapper--content {
	> .kk-wrapper__inner {
		padding-bottom: $baseline * 2 - 1;
		border-bottom: 1px solid $color-border-footer;
		margin-bottom: $baseline * 2 + $baseline / 2; // baseline crashed (5px);

	
		@include media-query(palm) {
			border-bottom: none;
		}
	}


	@include media-query(palm) {
		position: relative;
	}
}

.kk-wrapper--footer {
	margin-bottom: $baseline * 3;
}