@font-face {
    font-family: 'Source Sans Pro';
        src: url('fonts/sourcesanspro-regular-webfont.eot'); /* IE9 Compat Modes */
        src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg'),
	         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'), /* Modern Browsers */
	         url('fonts/sourcesanspro-regular-webfont.ttf')  format('truetype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
        src: url('fonts/sourcesanspro-semibold-webfont.eot'); /* IE9 Compat Modes */
        src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg'),
	         url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'), /* Modern Browsers */
	         url('fonts/sourcesanspro-semiBold-webfont.ttf')  format('truetype');
        font-weight: bold;
        font-style: normal;
}


@font-face {
    font-family: 'Droid Serif';
        src: url('fonts/droidserif-webfontt.eot'); /* IE9 Compat Modes */
        src: url('fonts/droidserif-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/droidserif-webfont.svg') format('svg'),
	         url('fonts/droidserif-webfont.woff') format('woff'), /* Modern Browsers */
	         url('fonts/droidserif-webfont.ttf')  format('truetype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
        src: url('fonts/droidserif-bold-webfont.eot'); /* IE9 Compat Modes */
        src: url('fonts/droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/droidserif-bold-webfont.svg') format('svg'),
	         url('fonts/droidserif-bold-webfont.woff') format('woff'), /* Modern Browsers */
	         url('fonts/droidserif-bold-webfont.ttf')  format('truetype');
        font-weight: bold;
        font-style: normal;
}