/*
	SEARCH FIELD
*/
.kk-search {
	font-family: $font-family-headline;

	@include media-query(desk) {
		margin-top: $baseline * 2;

		.kk-search__submit,
		.kk-search_input {
			margin-left: 5px;
			float: right;
		}
	}
}
	.kk-search__input {
		width: 0;
		padding-top: 8px;
		padding-right: 0;
		padding-bottom: 7px;
		padding-left: 0;
		border: none;
		outline: 0;
		background-color: $color-background-input-search;
		color: $color-font-input-search;
		font-family: $font-family-headline;
		overflow: hidden;
		@include single-transition(all, 0.3s, ease-out);
		@include appearance(none);

		&.active {
			width: 280px;
			padding-right: 14px;
			padding-left: 14px;
		}
	}
	.kk-search__submit {
		width: 32px;
		height: 32px;
		padding: 0;
		border: none;
		outline: 0;
		margin: 0;
		background-color: transparent;
		background-image: url('../images/search-icon.png');
		background-position: 0 0;
		position: relative;
		top: -1px;
		@include appearance(none);

		&.active {
			background-position: 0 32px;
		}

		@include media-query(palm) {
			color: inherit;
		}
	}


@include media-query(palm) {
	.kk-search {
		width: 100%;
		height: 90px;
		text-align: center !important;
		position: absolute;
		bottom: -90px; left: 0;
		z-index: 0;

		> .kk-search__body {
			height: 0;
			overflow: hidden;
			@include single-transition(height, 0.3s, linear);

			> form {
				height: 90px;
				background-color: rgba($color-white, 0.8);

				> .kk-search__input {
					width: 92%;
					padding: 4px;
					border: 1px solid $color-border-input;
					margin-top: $base-spacing-unit;
					margin-right: auto;
					margin-bottom: 0;
					margin-left: auto;
					outline: 0;
					background-color: transparent;
				}
				> .kk-search__submit {
					display: none;
				}
			}
		}
		&.active {
			> .kk-search__body {
				height: 90px;
			}
		}

		&.animation-active {
			z-index: 10;
		}
	}
}



/*
	RECIPE SEARCH
*/
.kk-searchbox {
	padding: 10px;
	background-color: $color-recipes;
	font-family: $font-family-headline;

	@include media-query(palm) {
		width: 100%;
		height: 90px;
		background-color: transparent;
		overflow: hidden;
		position: absolute;
		top: - $baseline; left: 0;

		.kk-searchbox__input-body {
			width: 100%;
			height: 0;
			padding: 0;
			background-color: $color-recipes;
			overflow: hidden;
			@include single-transition(all, 0.3s, linear);
			position: absolute;
			top: 0; left: 0;
		}
		&.active .kk-searchbox__input-body {
			height: 90px;
		}
		&.active .kk-searchbox__input-submit {
			visibility: hidden;
		}
	}
}.kk-searchbox--recommend {
	background-color: $color-recommend;

	@include media-query(palm) {
		height: 130px;
		background-color: transparent;

		.kk-searchbox__input-body {
			background-color: $color-recommend;
		}
		&.active .kk-searchbox__input-body {
			height: 130px;
		}
	}
}
.kk-searchbox--result {
	.kk-searchbox__input-body {
		margin-left: -$base-spacing-unit;
		overflow: hidden;
	}
}


.kk-searchbox__input-container {
	padding-left: $base-spacing-unit;
	//margin-right: $base-spacing-unit;
	float: left;

		> input {
			margin: 0;
		}
}
.kk-searchbox__input-text {
	width: 100%;
	height: 35px;
	padding: 4px;
	padding-top: 7px;
	border: 1px solid $color-border-input;
	margin-bottom: $baseline * 3;
	outline: 0;
	background-color: $color-background-input;
	display: block;
	@include appearance(none);

	@include media-query(palm) {
		width: 92%;
		margin-top: $base-spacing-unit;
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;
	}
}
.kk-searchbox__select {
	height: 35px;
	border: 1px solid $color-border-input;
	margin-bottom: $baseline * 3;
	overflow: hidden;
	position: relative;

	> label {
		width:  24px;
		height: 33px;
		padding-right: 2px;
		padding-left:  2px;
		background-color: #f4f4f5;
		background-image: url('../images/arrow-down.png');
		background-repeat: no-repeat;
		background-position: center;
		pointer-events: none;
		text-indent: -3000px;
		position: absolute;
		top: 0; right: 0;
	}
	> select {
		width:  100%;
		height:  33px;
		border: none;
		outline: 0;
		line-height: 35px;
		background: $color-home;
		display: block;
		@include appearance(none);
	}

	@include media-query(palm) {
		display: none;
	}
}
.kk-searchbox__input-submit {
	width: 100%;
	height: 30px;
	padding: 5px;
	border: none;
	background-color: $color-background-mobile-menu;
	text-align: center;
	font-weight: bold;
	color: $color-white;
	@include appearance(none);

	@include media-query(palm) {
		visibility: hidden;
	}
}
.kk-searchbox__change {
	display: none;

	@include media-query(palm) {
		width: 92%;
		margin-top: $baseline;
		margin-right: auto;
		margin-left: auto;
		text-align: right;
		font-weight: bold;
		cursor: pointer;
		text-decoration: underline;
		display: block;
	}
}

.kk-searchbox--recommend .kk-searchbox__input-submit {
	@include media-query(palm) {
		background-color: $color-recommend;
	}
}

// COMMENTS
.kk-teaser__commentbox form {
	> label {
		height: 1px;
		overflow: hidden;
		position: absolute;
		left: -9999px;
	}
	label.kk-checkbox {
		height: auto;
		margin-bottom: $baseline;
		position: absolute;
		top: -2px; left: 0;

		> span {
			width: 15px;
			height: 15px;
			padding: 2px;
			border: 1px solid $color-font-main;
			margin-right: 10px;
			background-color: $color-background-page;
			display: inline-block;
			position: relative;
			top: 2px;

			> span {
				width: 100%;
				height: 100%;
				display: block;
				background-color: transparent;
			}
		}
	}
	label.kk-checkbox--recommend {
		> span {
			border-color: $color-recommend;
		}
	}
	input:checked + label.kk-checkbox > span > span,
	input.valid + span + label.kk-checkbox > span > span {
		background-color: $color-font-main;
	}
	input:checked + label.kk-checkbox--recommend > span > span {
		background-color: $color-recommend;
	}

	input[type="text"],
	> textarea {
		width: 50%;
		height: 35px;
		padding: 4px;
		padding-top: 7px;
		border: 1px solid $color-font-main;
		margin-right: $base-spacing-unit;
		margin-bottom: $baseline;
		outline: 0;
		background-color: transparent;
		display: inline-block;
		@include appearance(none);

		@include media-query(palm) {
			width: 100%;
		}

		&.error {
			border-color: $color-error;
		}
	}
	input.kk-input--recommend {
		border-color: $color-recommend;
	}
	textarea {
		width: 100%;
		height: 90px;
		max-width: 100%;
		min-width: 100%;
		min-height: 90px;

		&.error {
			margin-bottom: $baseline / 2;
		}
	}
	.kk-checkbox-box{
		position: relative;
	}
		input.kk-checkbox-input {
			margin-bottom: 40px;
		}
	
	span.error {
		margin-bottom: $baseline;
		color: $color-error;
		display: inline-block;
	}
	.kk-checkbox-box span.error {
		position: absolute;
		top: 	20px;
		right:	auto;
		bottom:	auto;
		left: 	0;
	}

	.kk-submit {
		width: auto;
		padding-top: 7px;
		padding-right: 27px;
		padding-bottom: 7px;
		padding-left: 27px;
		border: none;
		background-color: $color-font-main;
		color: $color-background-page;
		@include font-size($h3-size);
		font-weight: bold;
		@include appearance(none);
	}
	.kk-submit--route {
		@extend .kk-submit;

		border: none;
		background-color: $color-recommend;
		color: inherit;
		font-weight: normal;
		text-transform: uppercase;
		@include font-size($h4-size);
		float: right;
		@include appearance(none);
	}
}


// RECOMMENDATIONS
body.empfehlung-single .mod_empfehlungen_suche {
	display: none;

	@include media-query(palm) {
		display: block;
		letter-spacing: normal;
	}
}