/*
	pre vars
*/
$map-max-height: 344px;



/**
* AHB map
*
*/

.kk-map {
	@include media-query(palm) {
		margin-bottom: $base-spacing-unit;
	}
}

.kk-map__flag {
	position: absolute;
	top: -2000px;
	display:none;
	
	img{
		height: 100%;
		width: auto;
	}
}

/*

	deprecated

.kk-map__routeflag {
	position: absolute;
	top: -2000px;

}
*/

.kk-map__canvas {
	height: $map-max-height;

	img {
		max-width: inherit!important;
	}

	div {
		 @include box-sizing(content-box);
	}
}

.kk-map__calculation-in-progress {
	@include transition(opacity 0.3s);
	display: none;
	@include opacity(0);	

	margin-top: -$map-max-height;
	height: $map-max-height;
	position: relative;
	text-align: center;

	&.show {
		display: block;
		@include opacity(1);
	}

	> div {
		position: absolute;
		@include opacity(0.9);
		height: $map-max-height;
		width: 100%;
		background: $color-background-header;
	} 

	> p {
		position: relative;
		z-index: $z-gmap-text;
		padding-top: $map-max-height/2.5;
		padding-left: $base-spacing-unit;
		padding-right: $base-spacing-unit;
	}

}

.kk-map__show-route {	
	@include media-query(palm) {
		margin-right: $half-spacing-unit;
		margin-left: $half-spacing-unit;
	}
	& > .btn {
		float: right;
	}
	
	margin-top: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;

	&.process {
		 .sprite {
			 display: none;
		 }
	}

	.grid__item {
		&:first-child {
			@include media-query(palm) {
				display: none;
			}
		}

		@include media-query(palm) {
			width: 100%;
			text-align: center;
			float: none;

			> .kk-submit--route {
				float: none;
			}
		}
	}

}

.kk-map__calculate-address__label {
	cursor: pointer;

/*
	.process & {
		display: none;
	}
*/
}

/*
.kk-map__calculate-address__notification {
	display: none;

	.process & {
		display: inline;
	}
}
*/

.kk-map__route {
	@include transition(opacity 0.3 ease);
	display: none;
	opacity: 0;
	overflow: auto;

	&.show {
		display: block;
		opacity: 1;
	}

	.adp-legal {
		margin-left: $base-spacing-unit;
		@extend .delta;
	}
}

.kk-map__startaddress {

	> input {
		width: 100%;
	}
}

.kk-map__calculate-address {
	margin-top: 0.5em;

	.no-geolocation & {
		display: none;
	}
}

.kk-map__routetxt {
	margin-top: $base-spacing-unit;
}

.kk-map__calculate-route {
	margin-top: $base-line-height;
}

/* altering google stuff */
.adp-directions {
	font-family: $font-family-text!important;

	tr td:first-child {
		text-align: right;
	}
} 

.adp-placemark {
	background: transparent;
	border-right: none;
	border-left: none;
}

