// POSITION
.position--relative {
	position: relative;
}


// MOBILE & DESK HIDE
.desk-hide,
.desk-hide--block {
    display: none !important;
}

@include media-query(palm) {
	.desk-hide {
		display: inline-block !important;
	}
	.desk-hide--block {
		display: block !important;
	}
	.mobile-hide {
		display: none !important;
	}
}

// from AHB:
//.desk--hide {
//	
//	@include media-query(desk){ 
//		display: none!important;
//	}
//}
//
//.desk--show {
//	display: none;
//	
//	@include media-query(desk){ 
//		display: block;
//		&.grid__item {
//			display: inline-block;
//		}
//	}
//}
//
//.mobile--hide {
//	@include media-query(palm){ 
//		display: none;
//	}
//}
//
//.mobile--show {
//	display: none;
//	
//	@include media-query(palm){ 
//		display: block;
//		&.grid__item {
//			display: inline-block;
//		}
//	}
//}




// COLORS
.color-magazin {
	@include media-query(desk) {
		color: $color-magazine;
	}
}



// SPACE
.space--once {
	margin-bottom: $baseline !important;
}
.space--double {
	margin-bottom: $baseline * 2 !important;
}
.space--triple {
	margin-bottom: $baseline * 3 !important;
}
.space--quad {
	margin-bottom: $baseline * 4 !important;
}


@include media-query(lap-and-up) {
	.space-desk--once {
		margin-bottom: $baseline !important;
	}
	.space-desk--double {
		margin-bottom: $baseline * 2 !important;
	}
	.space-desk--triple {
		margin-bottom: $baseline * 3 !important;
	}
	.space-desk--quad {
	    margin-bottom: $baseline * 4 !important;
	}
	.space-desk--quint {
		margin-bottom: $baseline * 5 !important;
	}

	.space-top-desk--one {
		margin-top: $baseline !important;
	}
	.space-top-desk--double {
		margin-top: $baseline * 2 !important;
	}
}
@include media-query(palm) {
	.space-mobile--once {
		margin-bottom: $baseline !important;
	}
	.space-mobile--double {
		margin-bottom: $baseline * 2 !important;
	}
}


// BORDER AND SPACE (mainly for teasers at blog section)
.border-space {
	padding-bottom: $baseline;
	border-bottom: 1px solid $color-border-teasers;
	margin-bottom: $baseline * 3 - 1;
}
.border-teasers {
	border-bottom: 1px solid $color-border-teasers;
}


// BACKGROUNDS
.bg-recommend {
	background-color: $color-recommend;
}


// JAVASCRIPT HELPERS
.kk-js-show-hide__show {
	display: none;
}