// MARGIN BOTTOM
h1, h2, h3, h4, h5, h6,
ul, ol,
p {
	margin-bottom: 0;
}


// LISTS
ul, ol {
	margin-left: 0;
	list-style-type: none;
}


// LINKS
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    outline: 0;
    color: inherit;
    text-decoration: underline;
}
h1 a,
h2 a,
h3 a,
h4 a {
	&:link, &:visited {
		color: inherit;
		text-decoration: none;
	}
	&:hover, &:hover, &:active {
		color: rgba($color-font-main, 0.5);
		text-decoration: none;
	}
}

a.kk-teaser--mobile-magazine,
a.kk-teaser,
.kk-teaser-list > li > a {
	&:link, &:visited {
		text-decoration: none;

		h2, h3 {
			color: inherit;
			text-decoration: none;
		}
	}
	&:hover, &:hover, &:active {
		text-decoration: none;

		h2, h3 {
			color: rgba($color-font-main, 0.5);
			text-decoration: none;
		}
	}
}

.kk-teaser p a,
.kk-teaser--recommendation > a {
	&:link, &:visited {
		font-family: $font-family-headline;
		font-weight: bold;
		text-decoration: underline;
	}
	&:hover, &:focus, &:active {
		font-family: $font-family-headline;
		font-weight: bold;
		text-decoration: none;
	}
}


// HEADLINES
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-headline;
}
h1,
h2 {
	font-weight: bold;

	@include media-query(palm) {
		font-weight: bold;
	}
}
h3 {
	font-weight: bold;
}
h4 {
	font-family: $font-family-text;
	font-weight: normal;
	text-transform: uppercase;
}
h5 {
	font-weight: bold;
}

h1, .alpha {
	@include font-size($h1-size);

	@include media-query(palm) {
		@include font-size($h2-size);
	}
}
h2, .beta {
	@include font-size($h2-size);

	@include media-query(palm) {
		@include font-size($h3-size);
	}
}
h3, .gamma {
	@include font-size($h3-size);
	
	@include media-query(palm) {
		@include font-size($h4-size);
	}
}

@include media-query(desk) {
	.alpha-desk {
		@include font-size($h1-size);
	}
	.beta-desk {
		@include font-size($h2-size);
	}
	.gamma-desk {
		@include font-size($h3-size);
	}
}

@include media-query(palm) {
	.alpha-mobile {
		@include font-size($h2-size);
	}
	.beta-mobile {
		@include font-size($h3-size);
	}
	.gamma-mobile {
		@include font-size($h4-size);
	}
}

.ce_empfehlungen_liste > h4,
.kk-headline-result,
.kk-list__headline,
.kk-teaser--recommendation-single > .kk-teaser__address > h2,
.kk-teaser__commentbox h2,
.kk-module-bloglist,
.mod_rezeptearchive > h4,
.mod_rezeptearchive > h1 {
	padding-bottom: $baseline;
	border-bottom: 1px solid $color-border-headlines;
	margin-bottom: $baseline * 2 - 1px;
	@include font-size($font-size-normal);
	font-family: $font-family-text;
	font-weight: normal;
	text-transform: uppercase;
}


input {
	cursor: auto;
}