/* 
    MENUS

    main menu
    sub menu
    mobile top menu
    footer menu
    mobile side menu
*/
// MAIN MENU
.kk-mainmenu-wrapper {
    @include media-query(palm) {
        position: absolute;
    }
}
.kk-mainmenu { 
    @include font-size($font-size-normal, false);
    line-height: $baseline * 4;
    margin-bottom: 0;
    margin-left: -$base-spacing-unit; // copying methodology from .grid
    
    > li {
        @extend .one-quarter; // if num of menu-items changes in future, only css needs to be changed!
        padding-left: $base-spacing-unit; // copying methodology from .grid__item

        > a {
            display: block;
            padding-left: $base-spacing-unit;
            text-transform: uppercase;
            position: relative;
            z-index: 10;

            &:hover,
            &:active {
                text-decoration: none;
            }
        }

        &.magazin.active {
            margin-bottom: $baseline * 4;
        }
    }
    
    @each $color in $colors-main { 
        
        > li.#{nth($color, 1)} > a { // will resolve to ".kk-mainmenu > li.home > a" etc.
          background-color: nth($color, 2);
        }

        > li.#{nth($color, 1)}.active > a {  // will resolve to ".kk-mainmenu > li.home.active > a" etc.
            @include arrow(bottom, left, nth($color, 2));
        }
    }

    @include media-query(palm) {
        height: 0;

        > li {
            display: none;

            &.active {
                display: block;

                > a {
                    display: none;
                }
            }
        }
    }
}


// SUB MENU
.kk-submenu {
    width: 100%;
    height: 40px;
    background-color: $color-submenu-magazine;
    position: absolute;
    top: 238px; left: 0;

    > .nav > li {
        padding-left: 4px;
        @include font-size($font-size-normal);
        text-transform: uppercase;

        &:after {
            content: "|";
            position: relative;
            top: -1px; left: -$baseline;
        }
        &:last-child:after {
            content: "";
        }

        > a {
            padding-top: $baseline;
            padding-right: $baseline * 2;
            color: $color-font-inactive;

            &:hover,
            &:active {
                color: $color-font-main;
                text-decoration: none;
            }
        }
        &.active > a {
            color: $color-font-main;
        }
    }

    @include media-query(palm) {
        position: fixed;
        top: auto;
        bottom: 0;
        z-index: 10;

        > .nav > li {
            width: 33.333%;
            text-align: center;

            &:after {
                content: "";
            }
        }
    }

    @media (max-width: 1024px) {
        > .nav {
            margin-left: $base-spacing-unit;
        }
    }
}


// MOBILE TOP MENU
.kk-topmenu {
    width: 100%;
    height: 32px;
    padding-left: $base-spacing-unit;
    text-transform: uppercase;
    @include calc(width, "100% + 18px");
    position: relative;

    > a {
        @include font-size($font-size-small);
        position: relative;
        z-index: 200;
    }
    > h3 {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        z-index: 100;
    }
    > * {
        width: auto;
        padding-top: 8px;
        padding-bottom: 5px;
        display: inline-block;

        &.active {
            background-color: #fff;
        }
    }
    > a:first-child {
        &:before {
            width: 13px;
            height: 13px;
            background-image: url('../images/arrow-left.png');
            background-repeat: no-repeat;
            display: inline-block;
            content: " ";
            position: relative;
            top: 1px;
        }
    }
    > .kk-button--mobile-categories {
        padding-right: $base-spacing-unit;
        padding-left: $base-spacing-unit;
        float: right;
    }
}
@each $color in $colors-main {    
    body.#{nth($color, 1)} .kk-topmenu {
      background-color: nth($color, 2);

      > *.active {
        color: nth($color, 2);
      }
    }
}



// FOOTER MENU
.kk-footermenu {
    > li {
        margin-right: $base-spacing-unit / 2;
        text-transform: uppercase;
    }
}
footer > div {
    position: relative;
    top: -17px;
}



// MOBILE SIDE MENU
.kk-mobile-menu {
    width: 80%;
    height: 100%;
    background-color: $color-background-mobile-menu;
    position: absolute;
    top: 0; left: -80%;
    z-index: $z-mobile-menu;
    @include single-transition(left, 0.5s, cubic-bezier(0.4,0.09,0.28,0.97));

    &.active {
        left: 0;
    }
}
        .kk-mobile-menu > .kk-mobile-menu__mainmenu > ul {
            margin-bottom: $baseline * 4;

            > li {
                width: 100%;
                padding: $baseline;
                text-transform: uppercase;

                > a {
                    display: block;
                }
            }

            @each $color in $colors-main {
                > li.#{nth($color, 1)} {
                    background-color: nth($color, 2);
                }
            };
        }
    .kk-mobile-menu > .kk-mobile-menu__footermenu {
        padding-right: $baseline;
        padding-left: $baseline;

        > ul {
            padding: 10px 0 5px;
            border-top: 1px solid $color-home;
            border-bottom: 1px solid $color-home;
            margin-bottom: $baseline * 3;

            & > li {
                margin-bottom: 5px;
                text-transform: uppercase;
                color: $color-home;
            }
                & > li > a {
                    display: block;
                }
        }
    }