body.home .kk-module-bloglist {
	margin-bottom: 10px;
	color: #DABA95;
	@include font-size($h2-size);

	@include media-query(palm) {
		@include font-size($h3-size);
	}
}

.one-quarter .kk-module-bloglist {
	margin-bottom: $baseline * 2;

	@include media-query(palm) {
		margin-bottom: $baseline;
	}
}