.kk-pagebanner {
    width: 100%;
    padding-top:    8px;
    padding-right:  $baseline;
    padding-bottom: 3px;
    padding-left:   $baseline;
    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.25);
    background-color: $color-muster;
    display: block;
    overflow: hidden;
    position: absolute;
    top:    0;
    right:  auto;
    bottom: auto;
    left:   0;
    z-index: 1;
}
    .kk-pagebanner__content {
        width: 100%;
        max-width: $width-max-page;
        margin: auto;
        display: block;
        overflow: hidden;
    }

    .kk-pagebanner__logo {
        display: inline;
    }

    .kk-pagebanner__claim {
        margin-top:    11px;
        margin-right:   2px;
        color: $color-white;
        line-height: 1;
        font-size: $font-size-medium;
        font-family: $font-family-headline;
        float: right;
    }