// LOGO
.kk-logo {
    height: 78px; // baseline crashed (2px)
	margin-bottom: $baseline * 2;
	display: block;
	line-height: 0;

    @include media-query(palm) {
        height: auto;
        margin-bottom: $baseline;
        text-align: center;

        > img {
            width: 60%;
        }
    }
}


// SLIDER
.kk-slider {
    .kk-slider__images {
        margin-bottom: 39px;
        visibility: hidden;

        &.active {
            margin-bottom: 0;
            visibility: visible;
        }
    }
}
.kk-slider__images > li {
    width: 100%;
    position: relative;
    display: none;

    > a {
        width: 100%;
        overflow: hidden;

        &:before {
            content: "";
            padding-top: 40.7669%;
            display: block;

            @include media-query(palm) {
                padding-top: 54%;
            }
        }

        width: 100%;
        display: block;
        position: relative;

        > img {
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            max-width: none;
            max-height: none;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;

            html.csstransforms & {
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }

    div {
        width: 100%;
        height: 85px;
        padding-top: 11px;
        padding-left: 10%;
        padding-right: 10%;
        background: rgba(#fff, 0.6);
        position: absolute;
        bottom: 0; left: 0;

        @include media-query(palm) {
            padding-top: 5px;
            padding-left: $base-spacing-unit;
            padding-right: $base-spacing-unit;
            height: 49px;
            bottom: 25px;
        }
    }

    h1 > span {
        font-family: $font-family-headline;
        font-weight: normal;
        display: block;
    }

    &:first-child {
        display: block;
    }


    @include media-query(palm) {
        > a {
            &:before {
                padding-top: 54%;
            }

            > img {
                height: 100%;
            }
        }
    }
}


// SOCIAL ICONS
.kk-social-icon {
    width: 32px;
    height: 32px;
    margin-left: $base-spacing-unit;
    display: inline-block;

    @include media-query(palm) {
        margin-left: $baseline;
    }
}
.kk-social-icon--comment {
    background-image: url('../images/social/comment.png');
}
.kk-social-icon--twitter {
    background-image: url('../images/social/twitter.png');
}
.kk-mobile-menu__social-icons > .kk-social-icon--twitter {
    background-image: url('../images/social/twitter-mobile.png');
}
.kk-social-icon--facebook {
    background-image: url('../images/social/facebook.png');
}
.kk-mobile-menu__social-icons > .kk-social-icon--facebook {
    background-image: url('../images/social/facebook-mobile.png');
}
.kk-social-icon--googleplus {
    background-image: url('../images/social/googleplus.png');
}
.kk-mobile-menu__social-icons > .kk-social-icon--googleplus {
    background-image: url('../images/social/googleplus-mobile.png');
}



// BUTTONS
.kk-button {
    width: 100%;
    min-width: 20px;
    display: block;

    > img {
        width: 100%;
    }
}
.kk-button--mobile-search {
    @include media-query(palm) {
        margin-top: $baseline;
        background-image: url('../images/search-icon.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        position: relative;

        &:before {
            padding-top: 100%;
            display: block;
            content: "";
        }
    }
}
.kk-button--mobile-menu {
    @include media-query(palm) {
        margin-top: $baseline;
        background-image: url('../images/mobile-navigation.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        position: relative;

        &:before {
            padding-top: 77.7778%;
            display: block;
            content: "";
        }
    }
}
.kk-super-button {
    padding: $baseline 45px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;

    @include media-query(palm) {
        width: 80%;
        margin: auto;
        display: block;
    }
}

.blog .kk-button--mobile-categories,
.artikel .kk-button--mobile-categories {
    visibility: hidden;
}


// LISTS
.kk-list {
    margin-bottom: $baseline * 5;

    > .kk-list__list {
        font-family: $font-family-headline;
        font-weight: bold;
        @include font-size($h3-size);

        > li {
            margin-bottom: $baseline;
        }
        > li.active_category {
            color: rgba($color-font-main, 0.5);
        }
    }

    @include media-query(palm) {
        padding-top: $baseline;
        margin-bottom: 0;
    }
}
.kk-list--categories {
    @include media-query(palm) {
        width: 100%;
        padding-right: $base-spacing-unit;
        padding-bottom: $base-spacing-unit;
        padding-left: $base-spacing-unit;
        color: $color-white;
        display: none;
        position: absolute;
        top: -$baseline; left: 0;
        z-index: 20;

        > .kk-list__headline {
            display: none;
        }

        > .kk-list__list {
            font-weight: bold;

            > li {
                padding-bottom: $baseline;
                border-bottom: 1px solid $color-white;
                margin-bottom: $baseline - 1;
            }
        }

        &.active {
            display: block;
        }
    }
}
.empfehlung-single .kk-list--categories {
    display: none;

    @include media-query(palm) {
        letter-spacing: normal;

        &.active {
            display: block;
        }
    }
}

@each $color in $colors-main {    
    body.#{nth($color, 1)} .kk-list--categories {
        @include media-query(palm) {
            background-color: nth($color, 2);
        }
    }
}


// KEYWORDS
.kk-keywords {
    margin-top: $baseline * 4;

    p {
        @include font-size($font-size-small);
    }
}


// SEARCHES
.kk-alternatives {
    margin-bottom: $baseline * 2;
    color: $color-font-inactive;
    @include font-size($font-size-small);

    a {
        &:link, &:visited {
            text-decoration: underline;
        }
        &:hover, &:focus, &:active {
            text-decoration: none;
        }
    }
}

.kk-distance {
    color: $color-font-inactive;
}




//
.image_container {    
    img {
        width: 100% !important;
        height: auto !important;
    }    
}