/*===================================== #
#        DOCUMENT                       #
========================================*/
$width-max-page: 992px;
$baseline: $base-line-height;



/*===================================== #
#        SIZES                          #
========================================*/




/*===================================== #
#        COLORS                         #
========================================*/
// DOCUMENT COLORS
$color-background-page: #f4f4f5;
$color-font-main: #3a3a3a;
$color-font-inactive: #928c86;

// MAIN COLORS
$color-home: $color-background-page;
$color-magazine: #daba95;
$color-recipes: #ece8b8;
$color-recommend: #a2dad5;
$colors-main: (
    home $color-home, 
    magazin $color-magazine, 
    rezepte $color-recipes, 
    empfehlungen $color-recommend
);

// SUB COLORS
$color-submenu-magazine: #e9d9c6;

// CATEGORIE COLORS
$color-category-magazine: #d09a5b;

// BORDER COLORS
$color-border-footer: #bcbebf;
$color-border-teasers: #D8D9DA;
$color-border-headlines: #D8D9DA;
$color-border-input: #575759;

// BACKGROUND COLORS
$color-background-input-search: #57575a;
$color-background-header: #ebebec;
$color-background-mobile-menu: #3a3a3c;
$color-background-input: #f5f5f6;

// OTHER COLORS
$color-white: #fff;
$color-error: #dd1111;
$color-muster: #a04444;



/*===================================== #
#        TYPO                           #
========================================*/
// FONT
$font-family-text: $base-font-family;
$font-family-headline: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size-print: 11px;
$font-size-small: 13px;
$font-size-normal: $base-font-size;
$font-size-medium: 18px;

// OTHER COLORS
$color-font-input-search: #c7c7c7;



/*===================================== #
#        RESPONSIVE                     #
========================================*/
$lap-start: 769px;
$desk-start: 1025px;



/*===================================== #
#        IMAGES		                    #
========================================*/
$image-prop-main: 47.60%;
$image-prop-recipes: 65%;


/*===================================== #
#        Z-INDEX                        #
========================================*/
$z-mobile-menu: 1000;
$z-flexslider: 500;
$z-gmap-text: 500;